html{
	font-family: 'Montserrat', sans-serif;
}
a {
    color: black;
    font-weight: 500;
}
#mulik{
    text-align: right;
	border-top: 2px solid #ffffff7a;
    border-bottom: 2px solid #ffffff7a;
	padding: 0 0 0 25px;
}
body::before{
	width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1445019980597-93fa8acb246c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1953&q=80);
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
	content: "";
}

body::after{
    content: "";
    background: rgb(2,0,36);
    background: linear-gradient(268deg, rgb(19 159 202 / 25%) 0%, rgb(14 88 105 / 25%) 35%, rgb(28 199 184 / 25%) 100%);
    position: absolute;
	position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;


}
#hero{
	height: calc(100vh - 160px);
}
#hero h1{
    font-size: 30px;
    margin: 0;
    font-weight: 500;
    letter-spacing: 4px;
    color: #fff;
    text-align: center;
	text-shadow: 1px 1px 0px #0000001f;
    
}
#hero .container{
    z-index: 3;
}
#hero h1:before,#hero h1:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    max-inline-size: 25%;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.75);
    position: relative;
   
}

#hero h1:before {
    margin-left: -100%; 
    width: 100%;
    left: -14px;
    
}
#hero h1:after{
    margin-right: -100%; 
    width: 100%;
    right: -14px;
}
#hero h2{
    font-size: 75px;
    margin: 0;
    font-weight: 700;
    letter-spacing: 4px;
    color: #fff;
    margin-top: 50px;
    text-align: center;
	text-shadow: 3px 3px 0px #0000001f;
}
.navbar-nav .dropdown-menu {
    position: static;
    background-color: rgb(233, 233, 233);
}
.text-center{
    font-family:'Montserrat', sans-serif ;
}
.main-btn {
    text-shadow: 1px 1px #0000002b;
    color: #fff;
    background-color: #7bbade;
    border: 0;
    margin-top: 35px;
    padding: 15px 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    box-shadow: 0px 2px #629bb7;
    border-radius: 3px;
	overflow: hidden;
	position: relative;
}
.main-btn span {
    position: relative;
    z-index: 2;
}
.main-btn:hover{
	background-color: #7bbade;
}
.main-btn:before, .main-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(67, 161, 255, 0.25);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
	.main-btn:after{
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
	.main-btn:hover:before, .main-btn:hover:after{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.navbar-light .navbar-nav .nav-item:nth-child(1){
	border-left: 2px solid #ffffff7a;
}
.navbar-light .navbar-nav .nav-item{
	border-right: 2px solid #ffffff7a;
	margin: 3px 0;
}
.navbar-light .navbar-nav .nav-link{
	color: #fff;
    text-shadow: 1px 1px 0px #0000001f;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 18px;
	padding: 10px 20px;
}
.navbar-light .navbar-nav .nav-link:hover{
	color:#fff;
	background: #ffffff1f;
}
.navbar-light .navbar-nav .nav-link:focus{
	color:#fff;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    content: "";
    border-top: 13px solid;
    border-right: 13px solid transparent;
    border-bottom: 0;
    border-left: 13px solid transparent;
}
.navbar{
	z-index: 4;
	padding-top: 50px;
}

/** HOTELS **/
.hotels .container{
	background: #fff;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
	padding: 15px 70px 40px 70px;
    box-shadow: 0px 0px 0px 10px #0000000a;
	z-index: 3;
}
.listing-item-container a{
	text-decoration: none;
}
.listing-item-container {
    margin-top: 20px;
    overflow: hidden;
}
.fl-wrap {
    float: left;
    width: 100%;
    position: relative;
}
.listing-item.has_one_column {
    padding: 0!important;
}
.listing-item.has_one_column, .slick-slide-item .listing-item {
    width: 100%;
}
.listing-item {
    float: left;
    margin-bottom: 12px;
    position: relative;
}
.three-columns-grid .listing-item.has_one_column .geodir-category-listing {
    padding-left: 0 !important;
}

.listing-item.has_one_column .geodir-category-listing {
    padding-left: 13px !important;
}
.geodir-category-listing {
    border-radius: 10px;
    background: #fff;
    border: 1px solid #eee;
}
.three-columns-grid .listing-item.has_one_column .geodir-category-img {
    top: 0px;
}
.listing-item.has_one_column .geodir-category-img {
    width: 40%;
    border-radius: 10px;
    top: 12px;
}
.geodir-category-img {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 10px 10px 0 0;
}
.geodir-category-img img, .gallery-item img {
    width: 100%;
    height: auto;
    -webkit-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
}
.geodir-category-img:hover img, .gallery-item:hover img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    transform: scale(1.15);
}
.sale-window {
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 3;
    background: #18458b;
    padding: 8px 18px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 11px;
    color: #fff;
    -webkit-transform: translate3d(0,0,0);
}
.sale-window i{
	margin-right: 5px;
}
.sale-window:before, .sale-window:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
}
.sale-window:before {
    border-top: 14px solid #18458b;
    border-left: 16px solid transparent;
    margin-left: -16px;
    margin-top: -8px;
}
.sale-window:after {
    border-bottom: 14px solid #18458b;
    border-left: 16px solid transparent;
    margin-left: -16px;
    margin-top: 10px;
}
.geodir-category-opt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    padding: 10px 30px;
    cursor: pointer;
}
.list-single-hero-title, .map-card-rainting, .geodir-category-opt, .listing-item-cat, .ajax-modal-title {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(6,27,65,0)), color-stop(100%,rgba(6,27,65,0.95)));
    background: -webkit-linear-gradient(top, rgba(6,27,65,0) 0%,rgba(6,27,65,0.95) 100%);
    background: -o-linear-gradient(top, rgba(6,27,65,0) 0%,rgba(6,27,65,0.95) 100%);
    background: -ms-linear-gradient(top, rgba(6,27,65,0) 0%,rgba(6,27,65,0.95) 100%);
    background: linear-gradient(to bottom, rgba(6,27,65,0) 0%,rgba(6,27,65,0.95) 100%);
}
.geodir-category-opt .listing-rating {
    float: left;
    position: relative;
    top: -5px;
}
.geodir-category-opt .listing-rating i {
    font-size: 16px;
    margin-right: 4px;
	color: #F9B90F;
	outline: 0;
}
.geodir-category-opt .rate-class-name {
    float: right;
    position: relative;
    top: -6px;
}
.geodir-category-opt .rate-class-name .score {
    float: left;
    color: #fff;
    margin-right: 10px;
    font-size: 11px;
}
.geodir-category-opt .rate-class-name .score strong {
    display: block;
    text-align: right;
    margin: 5px 0 2px;
    font-style: normal;
    color: #fff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.geodir-category-opt .rate-class-name span {
    background: #18458B;
    color: #fff;
    float: left;
    font-weight: 600;
    border-radius: 5px 5px 5px 0;
    padding: 12px;
    box-shadow: 0px 0px 0px 3px rgb(255 255 255 / 20%);
}
.listing-item.has_one_column .geodir-category-content {
    width: 60%;
}
.geodir-category-content {
    padding: 20px;
    z-index: 2;
}
.geodir-category-content-title {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}
.geodir-category-content-title-item {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
}
.geodir-category-content h3, .cart-details_text .geodir-category-content-title-item h3 {
    float: left;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}
.geodir-category-content h3 a {
    color: #18458b;
    font-weight: 600;
}
.geodir-category-content h3 a:hover{
	color: #3AACED;
}
.geodir-category-location a {
    float: left;
    text-align: left;
    color: #999;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
}
.geodir-category-location a i {
    padding-right: 6px;
	color: #F9B90F;
}
.geodir-category-content p {
    text-align: left;
    font-size: 12px;
    color: #999;
}
.facilities-list {
    margin: 12px 0 12px;
    list-style: none;
	padding-left: 0;
}
.facilities-list li {
    float: left;
    margin-right: 14px;
    cursor: pointer;
    position: relative;
}
.facilities-list li i {
    color: #5e83bb;
    font-size: 23px;
}
.facilities-list li span {
	font-weight: 600;
    letter-spacing: 0.5px;
    position: absolute;
    opacity: 0;
    left: -40px;
    top: -34px;
    height: 26px;
    line-height: 26px;
    min-width: 105px;
	padding: 0 15px;
    color: #fff;
    font-size: 12px;
    visibility: hidden;
    border-radius: 4px;
    background: #18458B;
    text-align: center;
	white-space: nowrap;
}
.facilities-list li:hover span {
    visibility: visible;
    opacity: 1;
}
.geodir-category-footer {
    margin: 4px 0 0 0;
    padding: 18px 130px 0 0;
    border-top: 1px dotted #ccc;
}
.geodir-category-price {
    float: left;
    font-size: 11px;
    color: #999;
    font-weight: 600;
    background: #F7F9FB;
    padding: 9px 12px;
    border-radius: 4px;
    border: 1px dotted #e4e4e4;
    text-transform: uppercase;
}
.geodir-category-price span {
    font-weight: 600;
    margin-top: 6px;
    font-size: 13px;
    color: #18458b;
	margin-left: 15px;
}
.geodir-opt-list {
    position: absolute;
    right: 0;
    top: 16px;
}
.geodir-opt-list a {
    margin-left: 5px;
    background: #18458b;
    text-shadow: 1px 1px #0000002b;
    line-height: 40px;
    position: relative;
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
    padding: 10px 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.geodir-opt-list a:hover{
	background: #082552;
}
.geodir-opt-list a i{
	margin-right: 7px;
}
.fw-col-list-wrap .list-main-wrap-opt {
    padding: 0 8px;
    margin-top: 0;
}
.fw-col-list-wrap .list-main-wrap-opt .list-main-wrap-title.col-title {
    margin-bottom: 20px;
}

.fw-col-list-wrap .list-main-wrap-opt .list-main-wrap-title {
    padding: 0 0 10px 0;
    margin-top: 0;
    margin-bottom: 10px;
}
.list-main-wrap-title {
    padding: 20px 0;
    margin-top: 10px;
    border-bottom: 1px solid #e3e3e3;
}
.list-main-wrap-title h2 {
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: #888DA0;
}
.price-opt {
    position: relative;
}
.price-opt, .price-opt ul, .price-opt-title, .price-opt ul li {
    float: left;
}
.price-opt-title {
    color: #666;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    float: left;
}
.price-opt .listsearch-input-item {
    float: left;
    position: relative;
    width: 275px;
}
.grid-opt {
    float: right;
	position: relative;
	width:300px;
}
.grid-opt input{
	width: 300px;
}
.grid-opt input{
    float: left;
    border: 1px solid #eee;
    background: #F7F9FB;
    width: 100%;
    padding: 14px 20px 14px 45px;
    border-radius: 6px;
    color: #666;
    font-size: 13px;
    -webkit-appearance: none;
}
.grid-opt input:focus{
	outline:none;
}
.grid-opt label {
    float: left;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 500;
}
.grid-opt label i {
	padding-right: 12px;
    font-size: 14px;
    position: absolute;
    top: 19px;
    left: 16px;
	color: #668596;
}
.list-main-wrap-opt{
	margin-top: 25px;
}
.form-select.hotels-select{
	border: 1px solid #eee;
	font-size: 13px;
	padding: 14px 20px 14px 20px;
	height: auto;
	background-color: #f7f9fb;
}
.form-select:focus{
	box-shadow:none;
}
.compare-btn{
	float: left;
	border: 1px solid #eee;
    font-size: 13px;
    padding: 14px 20px 14px 20px;
    height: auto;
    background-color: #f7f9fb;
	border-radius: 5px;
	margin-right: 15px;
	color: #495057;
	text-decoration: none;
	font-weight: 400;
}
.function{
	position: absolute;
    right: 0px;
    top: -15px;
    z-index:2;
	display: flex;
	text-align: center;
}
.function .fav{
	margin-left: 20px;
}
.function .text{
	color: #999;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
}
.fav input {
	position: absolute;
	left: -100vw;
  }
  
  .fav label {
    color: #c2cad2;
    cursor: pointer;
    font-size: 35px;
    align-self: center;
    transition: color 0.2s ease-in-out;
  }
  
  .fav label:hover {
	color: #c2cad2;
  }
  
  .fav label::selection {
	color: none;
	background: transparent;
  }
  
  .fav label::moz-selection {
	color: none;
	background: transparent;
  }
  
  .fav input:checked + label {
	color: #da0000;
	will-change: font-size;
	animation: heart 0.5s cubic-bezier(.17, .89, .32, 1.49);
  }
  @keyframes heart {0%, 17.5% {font-size: 0;}}
  .compare input {
	position: absolute;
	left: -100vw;
  }
  
  .compare label{
    color: #c2cad2;
    cursor: pointer;
    font-size: 35px;
    align-self: center;
    transition: color 0.2s ease-in-out;
  }
  
  .compare label:hover {
	color: #c2cad2;
  }
  
  .compare label::selection {
	color: none;
	background: transparent;
  }
  
  .compare label::moz-selection {
	color: none;
	background: transparent;
  }
  
  .compare input:checked + label {
	color: #da0000;
	will-change: font-size;
	animation: heart 0.5s cubic-bezier(.17, .89, .32, 1.49);
  }
#rating-input{
	display:none;
}
#rating-input-more{
	display: none;
}
.rating {
	cursor: pointer;
}
.rating .rating-star {
	display: inline-block;
  position: relative;
  padding-right: 5px;
  margin-left: -6px;
  color: #daad08;
  font-size: 20px;
  outline: 0;
}
.rating .rating-star-more {
	display: inline-block;
  position: relative;
  padding-right: 5px;
  margin-left: -6px;
  color: #daad08;
  font-size: 20px;
  outline: 0;
}
.rating .selected:before {
  content: '\f005';
  font-weight: 900;
}

.review-box{
	border-radius: 10px;
    background: #fff;
    border: 1px solid #eee;
	float: left;
	width: 100%;
	padding: 30px 50px;
	margin-top: 10px;
}
.list-single-main-item-title {
    margin: 0 0 25px 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
}
.list-single-main-item-title:before {
    font-family: Font Awesome\ 5 Pro;
    content: "\f0d7";
    position: absolute;
    right: 0;
    top: 2px;
	color: #183c7d;
}
.list-single-main-item-title h3 {
    color: #183c7d;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
	display: inline-block;
}
.reviews-comments-wrap {
    display: inline-table;
    margin-top: 30px;
}
.reviews-comments-item {
    padding: 0 0 30px 110px;
    position: relative;
    float: left;
    margin-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.reviews-comments-item:last-child{
	margin-bottom: 0;
	border: 0;
	padding-bottom: 0;
}
.review-comments-avatar {
    position: absolute;
    top: 0;
    left: 10px;
    width: 80px;
    height: 80px;
}
.review-comments-avatar:before {
    content: '';
    position: absolute;
    top: 100%;
    margin-top: 20px;
    left: 0;
    margin-left: 38px;
    width: 40px;
    height: 40px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.review-comments-avatar img {
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 100%;
}
.reviews-comments-item-text {
    float: left;
    width: 100%;
    position: relative;
    padding: 30px 20px;
    background: #f9f9f9;
    border-radius: 6px;
}
.reviews-comments-item-text h4 {
    text-align: left;
    padding-bottom: 25px;
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #666;
}
.reviews-comments-item-text h4 a {
    color: #666;
}
.reviews-comments-item-text .review-score-user {
    float: right;
    position: relative;
    top: -12px;
}
.reviews-comments-item-text .review-score-user span {
    background: #18458B;
    color: #fff;
    float: right;
    font-weight: 600;
    border-radius: 3px 3px 0 3px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    border: 1px solid rgba(0,0,0,0.21);
    text-shadow: 0px 2px 5px rgb(0 0 0 / 21%);
	text-align: center;
}
.reviews-comments-item-text p {
    text-align: left;
}
.list-single-main-item p {
    text-align: left;
    color: #878C9F;
}
.reviews-comments-item-date {
    float: left;
    margin-top: 18px;
    font-weight: 500;
    color: #999;
    width: 100%;
    text-align: left;
    padding-top: 18px;
    font-size: 12px;
    border-top: 1px solid #eee;
}
.reviews-comments-item-date span {
    float: left;
}
.reviews-comments-item-date span i, .reviews-comments-item-date a i {
    margin-right: 10px;
	color: #18458b;
}
.custom-form textarea {
    height: 100px;
    resize: none;
    padding: 25px 20px;
    -webkit-appearance: none;
}
.custom-form textarea, .custom-form input[type="text"], .custom-form input[type=email], .custom-form input[type=password], .custom-form input[type=button] {
    float: left;
    border: 1px solid #eee;
    background: #F7F9FB;
    width: 100%;
    padding: 14px 20px 14px 45px;
    border-radius: 6px;
    color: #666;
    font-size: 15px;
    -webkit-appearance: none;
}
.rating-review{
	float: right;
    display: inline-block;
	margin-top: 2px;
}
.review-box.form .list-single-main-item-title:before{
	display: none;
}
.btn.flat-btn {
    color: #fff;
}
.btn.float-btn {
    float: left;
    margin: 10px 0 0;
}
.custom-form button {
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}
.btn-more {
    padding: 0 80px 0 30px;
    height: 44px;
    line-height: 44px;
    border-radius: 4px;
    color: #fff;
    text-shadow: 1px 1px #00000042;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.5px;
    font-size: 14px;
    text-align: left;
    position: relative;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0px 0px 0px 5px rgb(255 255 255 / 10%);
    background: #F9B90F;
	margin-top: 20px;
}
.btn-more:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.2);
    z-index: 0;
    right: 0;
    top: 0;
    transition: all 200ms linear;
}
.btn-more i {
    position: absolute;
    right: 0;
    width: 50px;
    height: 44px;
    line-height: 44px;
    border-left: 1px solid rgba(255,255,255,0.21);
	text-shadow: 1px 1px #00000042;
    text-align: center;
    top: 0;
}
.btn-more:hover:after {
    width: 120%;
    background: rgba(255,255,255,0.1);
}
.btn-more:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.2);
    z-index: 0;
    right: 0;
    top: 0;
    transition: all 200ms linear;
}
.rating-hotels {
	display: block;
	direction: rtl;
	unicode-bidi: bidi-override;
	text-align: center;
  }
  .rating-hotels .star {
	display: none;
  }
  .rating-hotels label {
	color: #c2cdde;
	display: inline-block;
	font-size: 22pt;
	margin: 0 -2px;
	transition: transform .15s ease;
	cursor: pointer;
  }
  .rating-hotels label:hover {
	transform: scale(1.35, 1.35);
  }
  .rating-hotels label:hover,
  .rating-hotels label:hover ~ label {
	color: orange;
  }
  .rating-hotels .star:checked ~ label {
	color: orange;
  }

/* COMPARE */
/* -------------------------------- 

Primary style

-------------------------------- */

.cd-products-comparison-table {
  margin-bottom: 0;
  margin-top: 40px;
}
.cd-products-comparison-table::after {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}
.cd-products-comparison-table header {
  padding: 0 5% 25px;
}
.cd-products-comparison-table header::after {
  clear: both;
  content: "";
  display: table;
}
.cd-products-comparison-table h2 {
  float: left;
  font-weight: bold;
}
.cd-products-comparison-table .actions {
  float: right;
}
.cd-products-comparison-table .reset, .cd-products-comparison-table .filter {
  font-size: 1.4rem;
}
.cd-products-comparison-table .reset {
  color: #404042;
  text-decoration: underline;
}
.cd-products-comparison-table .filter {
  padding: .6em 1.5em;
  color: #ffffff;
  background-color: #cccccc;
  border-radius: 3px;
  margin-left: 1em;
  cursor: not-allowed;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cd-products-comparison-table .filter.active {
  cursor: pointer;
  background-color: #9dc997;
}
.no-touch .cd-products-comparison-table .filter.active:hover {
  background-color: #a7cea1;
}
@media only screen and (min-width: 1170px) {
  .cd-products-comparison-table {
    margin-bottom: 0;
  }
  .cd-products-comparison-table::after {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  .cd-products-comparison-table header {
    padding: 0 5% 40px;
  }
  .cd-products-comparison-table h2 {
    font-size: 2.4rem;
  }
  .cd-products-comparison-table .reset, .cd-products-comparison-table .filter {
    font-size: 1.6rem;
  }
  .cd-products-comparison-table .filter {
    padding: .6em 2em;
    margin-left: 1.6em;
  }
}

.cd-products-table {
  position: relative;
  overflow: hidden;
}

.cd-products-table .features {
  /* fixed left column - product properties list */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 120px;
  border-style: solid;
  border-color: #e6e6e6;
  border-left-width: 1px;
  border-right-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background-color: #fafafa;
  opacity: .95;
}
.cd-products-table .features::after {
  /* color gradient on the right of .features -  visible while scrolling inside the .cd-products-table */
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 4px;
  height: 100%;
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.06), transparent);
  background-image: linear-gradient(to right,rgba(0, 0, 0, 0.06), transparent);
  opacity: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-products-table .features {
    width: 210px;
  }
}

.cd-products-table.scrolling .features::after {
  opacity: 1;
}

.cd-products-wrapper {
  overflow-x: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  border-style: solid;
  border-color: #e6e6e6;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.cd-products-columns {
  /* products list wrapper */
  width: 1200px;
  margin-left: 120px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}
.cd-products-columns::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (min-width: 1170px) {
  .cd-products-columns {
    width: 1240px;
    margin-left: 210px;
  }
}

.cd-products-columns .product {
  position: relative;
  float: left;
  width: 150px;
  text-align: center;
  -webkit-transition: opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.filtering .cd-products-columns .product:not(.selected) {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.no-product-transition .cd-products-columns .product.selected {
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.filtered .cd-products-columns .product:not(.selected) {
  position: absolute;
}
@media only screen and (min-width: 1170px) {
  .cd-products-columns .product {
    width: 310px;
  }
}
.cd-table-navigation{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
.cd-table-navigation li{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
.cd-features-list{
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 0;
}
.cd-features-list li {
  font-size: 15px;
  font-weight: 500;
  border-color: #e6e6e6;
  border-style: solid;
  border-left-width: 0;
  border-bottom-width: 0;
  border-top-width: 1px;
  border-right-width: 1px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cd-features-list li.rate {
	height: 50px;
	display: flex;
	align-items: center;
}
.cd-features-list li i{

}
.compare-star{
	color: #c2cdde;
	display: inline-block;
    font-size: 22pt;
    margin-right: 5px;
    transition: transform .15s ease;
}
.compare-star.active{
	color: orange;
}
@media only screen and (min-width: 1170px) {
  .cd-features-list li {
    font-size: 15px;
  }
  .cd-features-list li.rate {
  }
}

.features .cd-features-list li,
.cd-products-table .features .top-info {
  /* fixed left column - items */
  font-size: 10px;
  font-weight: bold;
  /* set line-height value equal to font-size of text inside product cells */
  line-height: 14px;
  text-align: left;
  height: 50px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1170px) {
  .features .cd-features-list li,
  .cd-products-table .features .top-info {
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

.features .cd-features-list li {
  /* truncate text with dots */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  justify-content: flex-start;
}

.cd-products-table .top-info {
  position: relative;
  height: auto;
  width: 150px;
  text-align: center;
  padding: 1.25em 2.5em;
  border-color: #e6e6e6;
  border-style: solid;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 1px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  cursor: pointer;
  background: #ffffff;
}
.cd-products-table .top-info img{
    width: 200px;
    margin: 0 auto;
	border-radius: 10px;
}
.cd-products-table .top-info::after {
  /* color gradient below .top-info -  visible when .top-info is fixed */
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 4px;
  width: 100%;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.06), transparent);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.06), transparent);
  opacity: 0;
}
.cd-products-table .top-info h3 {
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 15px;
}
.cd-products-table .top-info img {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-products-table .top-info h3, .cd-products-table .top-info img {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-products-table .top-info .check {
  position: relative;
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 auto 1em;
}
.cd-products-table .top-info .check::after, .cd-products-table .top-info .check::before {
  /* used to create the check icon and green circle dot - visible when product is selected */
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
}
.cd-products-table .top-info .check::before {
  /* green circle dot */
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  background: #ffffff;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, -moz-transform 0.3s, border-color 0.3s;
  transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
}
.cd-products-table .top-info .check::after {
  /* check icon */
  background: url(../img/cd-check.svg) no-repeat center center;
  background-size: 24px 24px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media only screen and (min-width: 1170px) {
  .cd-products-table .top-info {
    height: auto;
    width: 310px;
  }
  .cd-products-table .top-info h3 {
    padding-top: 0;
    font-size: 17px;
  }
  .cd-products-table .top-info .check {
    margin-bottom: 1.5em;
  }
}

.cd-products-table .features .top-info {
  /* models */
  cursor: auto;
  background: #fafafa;
  height: 208px;
  width: auto;
  display: flex;
  align-items: center;
}
.cd-products-table .features .top-info
@media only screen and (min-width: 1170px) {
  .cd-products-table .features .top-info {
    width: 210px;
  }
}

.cd-products-table .selected .top-info .check::before {
  /* green circle dot */
  background: #9dc997;
  border-color: #9dc997;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-animation: cd-bounce 0.3s;
  -moz-animation: cd-bounce 0.3s;
  animation: cd-bounce 0.3s;
}

@-webkit-keyframes cd-bounce {
  0% {
    -webkit-transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1.5);
  }
}
@-moz-keyframes cd-bounce {
  0% {
    -moz-transform: scale(1);
  }
  60% {
    -moz-transform: scale(1.6);
  }
  100% {
    -moz-transform: scale(1.5);
  }
}
@keyframes cd-bounce {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}
.cd-products-table .selected .top-info .check::after {
  /* check icon */
  opacity: 1;
}

@media only screen and (min-width: 1170px) {
  .cd-products-table.top-fixed .cd-products-columns > li,
  .cd-products-table.top-scrolling .cd-products-columns > li,
  .cd-products-table.top-fixed .features,
  .cd-products-table.top-scrolling .features {
    padding-top: 160px;
  }

  .cd-products-table.top-fixed .top-info,
  .cd-products-table.top-scrolling .top-info {
    height: 160px;
    position: fixed;
    top: 0;
  }
  .features .cd-products-table.top-fixed .top-info,
  .features .cd-products-table.top-scrolling .top-info {
	width: 209px;
  }
  .no-cssgradients .cd-products-table.top-fixed .top-info, .no-cssgradients
  .cd-products-table.top-scrolling .top-info {
    border-bottom: 1px solid #e6e6e6;
  }
  .cd-products-table.top-fixed .top-info::after,
  .cd-products-table.top-scrolling .top-info::after {
    opacity: 1;
  }
  .cd-products-table.top-fixed .top-info h3,
  .cd-products-table.top-scrolling .top-info h3 {
    -webkit-transform: translateY(-116px);
    -moz-transform: translateY(-116px);
    -ms-transform: translateY(-116px);
    -o-transform: translateY(-116px);
    transform: translateY(-116px);
  }
  .cd-products-table.top-fixed .top-info img,
  .cd-products-table.top-scrolling .top-info img {
    -webkit-transform: translateY(-62px) scale(0.4);
    -moz-transform: translateY(-62px) scale(0.4);
    -ms-transform: translateY(-62px) scale(0.4);
    -o-transform: translateY(-62px) scale(0.4);
    transform: translateY(-62px) scale(0.4);
  }

  .cd-products-table.top-scrolling .top-info {
    position: absolute;
  }
}
.cd-table-navigation a {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 15px;
  -webkit-transform: translateY(55px);
  -moz-transform: translateY(55px);
  -ms-transform: translateY(55px);
  -o-transform: translateY(55px);
  transform: translateY(55px);
  /* replace text with image */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  height: 60px;
  width: 40px;
  background: rgba(64, 64, 66, 0.8) url("../img/cd-arrow.svg") no-repeat center center;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
  -moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
  transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.cd-table-navigation a.inactive {
  opacity: 0;
  visibility: hidden;
}
.cd-table-navigation a.prev {
  left: 120px;
  right: auto;
  -webkit-transform: translateY(55px) translateX(15px) rotate(180deg);
  -moz-transform: translateY(55px) translateX(15px) rotate(180deg);
  -ms-transform: translateY(55px) translateX(15px) rotate(180deg);
  -o-transform: translateY(55px) translateX(15px) rotate(180deg);
  transform: translateY(55px) translateX(15px) rotate(180deg);
}
.no-touch .cd-table-navigation a:hover {
  background-color: #404042;
}
@media only screen and (min-width: 1170px) {
  .cd-table-navigation a {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
  }
  .cd-table-navigation a.prev {
    left: 210px;
    -webkit-transform: translateY(100px) translateX(15px) rotate(180deg);
    -moz-transform: translateY(100px) translateX(15px) rotate(180deg);
    -ms-transform: translateY(100px) translateX(15px) rotate(180deg);
    -o-transform: translateY(100px) translateX(15px) rotate(180deg);
    transform: translateY(100px) translateX(15px) rotate(180deg);
  }
  .top-fixed .cd-table-navigation a {
    position: fixed;
  }
  .top-fixed .cd-table-navigation a, .top-scrolling .cd-table-navigation a {
    -webkit-transform: translateY(45px);
    -moz-transform: translateY(45px);
    -ms-transform: translateY(45px);
    -o-transform: translateY(45px);
    transform: translateY(45px);
  }
  .top-fixed .cd-table-navigation a.prev, .top-scrolling .cd-table-navigation a.prev {
    -webkit-transform: translateY(45px) translateX(15px) rotate(180deg);
    -moz-transform: translateY(45px) translateX(15px) rotate(180deg);
    -ms-transform: translateY(45px) translateX(15px) rotate(180deg);
    -o-transform: translateY(45px) translateX(15px) rotate(180deg);
    transform: translateY(45px) translateX(15px) rotate(180deg);
  }
}

/* -------------------------------- 

No JS

-------------------------------- */
.no-js .actions {
  display: none;
}

.no-js .cd-products-table .top-info {
  height: auto;
}
@media only screen and (min-width: 1170px) {
  .no-js .cd-products-table .top-info {
    height: auto;
  }
}

.no-js .cd-products-columns .check {
  display: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* COMPARE */
.fav-page{
	color: #18458b;
    font-weight: 600;
	font-size: 24px;
	margin-bottom: -5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.rew{
	color: #18458b;
    font-weight: 600;
	font-size: 24px;
}
.review-box.reviews{
	padding: 0;
	border: 0;
	margin-top: 5px;
}
.review-box.reviews .list-single-main-item-title{
	padding-bottom: 20px;
}
.review-box.reviews .reviews-comments-wrap{
    margin-top: 10px;
}